/*====================================================== Home Page Styles =========================================================================================*/
.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel .owl-item img.w-100 {
  width: 100% !important;
}

.owl-nav {
  margin-top: 1.5rem;
  text-align: center;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 3rem;
  height: 3rem;
  border-radius: 50% !important;
  margin: 0.25rem;
  background: var(--chevron-right) no-repeat center center/1.5rem !important;
  background-color: var(--white) !important;
  box-shadow: 0 2px 3px rgba(0, 110, 22, 0.2);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}
.owl-nav .owl-prev span,
.owl-nav .owl-next span {
  display: none;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.owl-nav .owl-prev {
  background: var(--chevron-left) no-repeat center center/1.5rem !important;
  background-color: #fff !important;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: #e0e0e0 !important;
}

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(124, 124, 124, 0.3176470588) !important;
}
.owl-dots .owl-dot.active {
  background-color: var(--brand) !important;
  width: 16px;
  border-radius: 8px;
}

/*----- Hero Search For styles ------*/
.form__box .form-control, .form__box .form-select {
  height: 4rem;
  border-radius: 0%;
}
.form__box .btn-primary {
  height: 4rem;
}
.form__box .divider {
  position: relative;
}
.form__box .divider::after {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(#fff, #c6c6c6, #fff);
}

.letter__filter__box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.letter__filter__box .col, .letter__filter__box .btn-white {
  height: 3.5rem;
}
.letter__filter__box .col {
  overflow-x: auto;
  overflow-y: hidden;
}
.letter__filter__box .col a {
  width: 3rem;
  position: relative;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter__filter__box .col a:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 3rem;
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(#fff, #c6c6c6, #fff);
}
.letter__filter__box .col .link__list {
  min-width: 900px;
}
.letter__filter__box::-webkit-scrollbar {
  display: none;
}

@media (max-width: 991px) {
  .form__box.listing .divider.first::after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: 0%;
    background: linear-gradient(90deg, #fff, #c6c6c6, #fff);
  }
}
@media (max-width: 991px) {
  .form__box.listing .divider.second::after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: 0%;
    background: linear-gradient(90deg, #fff, #c6c6c6, #fff);
  }
}
.college__card {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
  border: 1px solid #E7F4FF;
  padding: 0.75rem;
}
.college__card .title {
  min-height: 3rem;
}
.college__card .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.college__card .logo__box {
  width: 4rem;
  height: 4rem;
  top: 0.5rem;
  left: 0.5rem;
}
.college__card .logo__box img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}
.college__card .logo__box::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.0156862745);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.8156862745);
}
.college__card .cart__btn {
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  right: 0.5rem;
}
.college__card .cart__btn svg {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  position: relative;
  z-index: 1;
  fill: var(--brand);
}
.college__card .cart__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7019607843);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.6705882353);
}
.college__card .cart__btn:hover {
  background-color: rgba(255, 255, 255, 0.9607843137);
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.862745098);
}

.join__card {
  background-color: #0E71BC;
}
.join__card.join__now {
  background-color: #1CA1DF;
}
.join__card.join__now .btn-dark:hover, .join__card.join__now .btn-dark:focus, .join__card.join__now .btn-dark:active {
  background-color: var(--blue);
  border-color: var(--blue);
}

@media (min-width: 768px) {
  .join__card .btn-dark {
    width: 50%;
  }
}
.scholarship__card {
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
}
.scholarship__card .logo__box {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--light-bg);
}
.scholarship__card .logo__box img {
  max-height: 3.5rem;
  width: auto;
}
.scholarship__card .btn-outline-primary {
  width: 3rem;
  height: 3rem;
  border-color: var(--light-bg);
}
.scholarship__card .btn-outline-primary svg {
  fill: #c3dbff;
  transition: all 0.3s ease-in-out;
}
.scholarship__card .btn-outline-primary:hover, .scholarship__card .btn-outline-primary:active, .scholarship__card .btn-outline-primary:focus {
  background-color: var(--light-bg);
}
.scholarship__card .btn-outline-primary:hover svg, .scholarship__card .btn-outline-primary:active svg, .scholarship__card .btn-outline-primary:focus svg {
  fill: var(--brand);
}
.scholarship__card .info__list {
  gap: 0.2rem 1.5rem;
}

.hostelCarousels .owl-item {
  padding: 2px;
}

.course__list__card {
  box-shadow: 0 0 2rem rgba(85, 85, 85, 0.15);
}
.course__list__card .description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.course__list__card .info__list svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--brand);
}
.course__list__card .action__btns .btn {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}
.course__list__card .action__btns .btn.first__btn {
  background-color: #EC53B0;
  border-color: #EC53B0;
}
.course__list__card .action__btns .btn.first__btn:focus, .course__list__card .action__btns .btn.first__btn:hover, .course__list__card .action__btns .btn.first__btn:active {
  filter: brightness(115%);
}
.course__list__card .action__btns .btn.second__btn {
  background-color: #5356FF;
  border-color: #5356FF;
}
.course__list__card .action__btns .btn.second__btn:focus, .course__list__card .action__btns .btn.second__btn:hover, .course__list__card .action__btns .btn.second__btn:active {
  filter: brightness(115%);
}/*# sourceMappingURL=style.css.map */