/*====================================================== Home Page Styles =========================================================================================*/
.owl-carousel .owl-item img {
  width: auto;
}
.owl-carousel .owl-item img.w-100 {
  width: 100% !important;
}

.owl-nav {
  margin-top: 1.5rem;
  text-align: center;
}
.owl-nav .owl-prev,
.owl-nav .owl-next {
  width: 3rem;
  height: 3rem;
  border-radius: 50% !important;
  margin: 0.25rem;
  background: var(--chevron-right) no-repeat center center/1.5rem !important;
  background-color: var(--white) !important;
  box-shadow: 0 2px 3px rgba(0, 110, 22, 0.2);
  border-radius: var(--border-radius);
  transition: all 0.3s ease-in-out;
}
.owl-nav .owl-prev span,
.owl-nav .owl-next span {
  display: none;
}
.owl-nav .owl-prev.disabled,
.owl-nav .owl-next.disabled {
  opacity: 0.6;
  pointer-events: none;
}
.owl-nav .owl-prev {
  background: var(--chevron-left) no-repeat center center/1.5rem !important;
  background-color: #fff !important;
}
.owl-nav .owl-prev:hover,
.owl-nav .owl-next:hover {
  background-color: #e0e0e0 !important;
}

.owl-dots {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1.5rem;
}
.owl-dots .owl-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin: 0 0.2rem;
  justify-content: center;
  align-items: center;
  background-color: rgba(124, 124, 124, 0.3176470588) !important;
}
.owl-dots .owl-dot.active {
  background-color: var(--brand) !important;
  width: 16px;
  border-radius: 8px;
}

/*----- Hero Search For styles ------*/
.form__box .form-control, .form__box .form-select {
  height: 4rem;
}
.form__box .btn-primary {
  height: 4rem;
}
.form__box .divider {
  position: relative;
}
.form__box .divider::after {
  content: "";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(#fff, #c6c6c6, #fff);
}

.letter__filter__box {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.letter__filter__box .col, .letter__filter__box .btn-white {
  height: 3.5rem;
}
.letter__filter__box .col {
  overflow-x: auto;
  overflow-y: hidden;
}
.letter__filter__box .col a {
  width: 3rem;
  position: relative;
  min-height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.letter__filter__box .col a:not(:last-child)::after {
  content: "";
  width: 1px;
  height: 3rem;
  display: block;
  position: absolute;
  top: 0%;
  right: 0%;
  background: linear-gradient(#fff, #c6c6c6, #fff);
}
.letter__filter__box .col .link__list {
  min-width: 900px;
}
.letter__filter__box::-webkit-scrollbar {
  display: none;
}

@media (max-width: 991px) {
  .form__box.listing .divider.first::after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: 0%;
    background: linear-gradient(90deg, #fff, #c6c6c6, #fff);
  }
}
@media (max-width: 767px) {
  .form__box.home__filter .divider::after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: 0%;
    background: linear-gradient(90deg, #fff, #c6c6c6, #fff);
  }
}
@media (max-width: 575px) {
  .form__box.listing .divider.second::after {
    width: 100%;
    height: 1px;
    top: auto;
    bottom: 0%;
    background: linear-gradient(90deg, #fff, #c6c6c6, #fff);
  }
}
.college__card {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
  border: 1px solid #E7F4FF;
  padding: 0.75rem;
}
.college__card .title {
  min-height: 3rem;
}
.college__card .desc {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.college__card .logo__box {
  width: 4rem;
  height: 4rem;
  top: 0.5rem;
  left: 0.5rem;
}
.college__card .logo__box img {
  height: 3rem;
  width: 3rem;
  object-fit: contain;
}
.college__card .logo__box::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.0156862745);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.8156862745);
}
.college__card .cart__btn {
  width: 3rem;
  height: 3rem;
  top: 0.5rem;
  right: 0.5rem;
}
.college__card .cart__btn svg {
  height: 1.5rem;
  width: 1.5rem;
  object-fit: contain;
  position: relative;
  z-index: 1;
  fill: var(--brand);
}
.college__card .cart__btn::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.7019607843);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 0%;
  left: 0%;
  z-index: 0;
  border: 1px solid #f4f4f4;
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.6705882353);
}
.college__card .cart__btn:hover {
  background-color: rgba(255, 255, 255, 0.9607843137);
  box-shadow: 0 14px 20px -5px rgba(244, 244, 244, 0.862745098);
}

.join__card {
  background-color: #0E71BC;
}
.join__card.join__now {
  background-color: #1CA1DF;
}
.join__card.join__now .btn-dark:hover, .join__card.join__now .btn-dark:focus, .join__card.join__now .btn-dark:active {
  background-color: var(--blue);
  border-color: var(--blue);
}

@media (min-width: 768px) {
  .join__card .btn-dark {
    width: 50%;
  }
}
.scholarship__card {
  border: 1px solid #D9D9D9;
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
}
.scholarship__card .logo__box {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--light-bg);
}
.scholarship__card .logo__box img {
  max-height: 3.5rem;
  width: auto;
}
.scholarship__card .btn-outline-primary {
  width: 3rem;
  height: 3rem;
  border-color: var(--light-bg);
}
.scholarship__card .btn-outline-primary svg {
  fill: #c3dbff;
  transition: all 0.3s ease-in-out;
}
.scholarship__card .btn-outline-primary:hover, .scholarship__card .btn-outline-primary:active, .scholarship__card .btn-outline-primary:focus {
  background-color: var(--light-bg);
}
.scholarship__card .btn-outline-primary:hover svg, .scholarship__card .btn-outline-primary:active svg, .scholarship__card .btn-outline-primary:focus svg {
  fill: var(--brand);
}
.scholarship__card .info__list {
  gap: 0.2rem 1.5rem;
}

.hostelCarousels .owl-item {
  padding: 2px;
}

.course__list__card {
  box-shadow: 0 0 2rem rgba(85, 85, 85, 0.15);
}
.course__list__card .description {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  white-space: normal;
}
.course__list__card .info__list svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--brand);
}
.course__list__card .action__btns .btn {
  padding-top: 0.65rem;
  padding-bottom: 0.65rem;
}
.course__list__card .action__btns .btn.first__btn {
  background-color: #EC53B0;
  border-color: #EC53B0;
}
.course__list__card .action__btns .btn.first__btn:focus, .course__list__card .action__btns .btn.first__btn:hover, .course__list__card .action__btns .btn.first__btn:active {
  filter: brightness(115%);
}
.course__list__card .action__btns .btn.second__btn {
  background-color: #5356FF;
  border-color: #5356FF;
}
.course__list__card .action__btns .btn.second__btn:focus, .course__list__card .action__btns .btn.second__btn:hover, .course__list__card .action__btns .btn.second__btn:active {
  filter: brightness(115%);
}

.college__detail__header .banner {
  height: 34rem;
}
.college__detail__header .logo__box {
  bottom: 2rem;
  left: 2rem;
  width: 6rem;
  height: 6rem;
  box-shadow: 0.25rem 0.51rem 1rem 2rem rgba(255, 255, 255, 0.137254902);
}
.college__detail__header .gradient__bg {
  background: linear-gradient(90deg, rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0.3490196078));
}

@media (max-width: 575px) {
  .college__detail__header .banner {
    height: 25rem;
  }
}
.custom__nav {
  overflow-x: auto;
  flex-wrap: nowrap;
  padding-bottom: 0.5rem;
}
.custom__nav .nav-link {
  color: #333;
  position: relative;
  white-space: nowrap;
}
.custom__nav .nav-link.active {
  color: var(--brand);
}
.custom__nav .nav-link.active::after {
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--brand);
  position: absolute;
  bottom: -0.5rem;
  left: 0%;
  border-radius: 4px;
}

.page__header .info__list {
  max-width: 600px;
}
.page__header .info__list svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: var(--white);
  opacity: 0.75;
}

.provided__course__box {
  background-color: #333d47;
}

.interest__box {
  background-color: #4b67b1;
}

.btn-councelling {
  background-color: #f15930;
  border-color: #f15930;
  color: var(--white);
}
.btn-councelling:hover, .btn-councelling:focus, .btn-councelling:active {
  background-color: transparent;
  border-color: #f15930;
  color: #f15930 !important;
}

.question__box {
  background-color: #00444f;
}

.share__box {
  background-color: #056258;
}

/*---- Related videos styles -----*/
.related__videos__box iframe, .related__videos__box img {
  height: 9rem;
  width: 100%;
  object-fit: cover;
  margin: 0;
}

.related__albums__box iframe {
  height: 9.875rem;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.related__albums__box img {
  height: 10.5rem;
  width: 100%;
  object-fit: cover;
  margin: 0;
}
.related__albums__box .album__box .caption {
  background-color: rgba(0, 0, 0, 0.7450980392);
  transition: all 0.3s ease-in-out;
  opacity: 0;
}
.related__albums__box .album__box:hover .caption {
  opacity: 1;
}

/*---- User profile link list styles ----*/
@media (min-width: 992px) {
  .user__column {
    width: 300px;
  }
}
.user__profile__thumbnail {
  width: 6rem;
  height: 6rem;
}

.profile__link__list li a {
  width: 90%;
  border-radius: 0 2rem 2rem 0;
  color: #747474;
  padding: 0.65rem 1rem;
  font-weight: 500;
}
.profile__link__list li a svg {
  width: 1.25rem;
  height: 1.25rem;
  fill: #747474;
}
.profile__link__list li.active a {
  background-color: var(--light-bg);
  color: var(--brand);
}
.profile__link__list li.active a svg {
  fill: var(--brand);
}

.collapsed__button:not(.collapsed) .icon svg {
  transform: rotate(-180deg);
}

.active ul li a {
  background-color: transparent !important;
}

.border-light {
  border-color: #e9e9e9 !important;
}

@media (max-width: 991px) {
  .profile__link__list {
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0.5rem 1rem !important;
  }
  .profile__link__list li {
    display: inline-block;
  }
  .profile__link__list li a {
    white-space: nowrap;
    border-radius: 3rem;
    padding: 0.5rem 1.5rem;
    width: auto;
    background-color: var(--light-bg);
  }
  .profile__link__list li a svg {
    min-width: 1.25rem;
  }
  .user__profile__thumbnail {
    width: 4rem;
    height: 4rem;
  }
}
.like__btn {
  font-size: 13px;
  color: #aaa;
}
.like__btn svg {
  fill: #aaa;
  width: 1.125rem;
  height: 1.125rem;
}
.like__btn:hover, .like__btn:focus, .like__btn:active {
  color: var(--brand);
}
.like__btn:hover svg, .like__btn:focus svg, .like__btn:active svg {
  fill: var(--brand);
}

.social__share__box a svg {
  width: 3rem;
  height: 3rem;
}
.social__share__box a.fb svg {
  fill: #3b5998;
}
.social__share__box a.tw svg {
  fill: #000000;
}
.social__share__box a.ld svg {
  fill: #007bb6;
}
.social__share__box a.pin svg {
  fill: #cb2027;
}
.social__share__box a.gmail svg {
  fill: #3490F3;
}
.social__share__box a.wp svg {
  fill: #29a628;
}

.reviews__wrapper .progress {
  height: 0.5rem;
}
.reviews__wrapper .progress, .reviews__wrapper .progress-stacked {
  --bs-progress-bar-bg: #198754;
  background-color: #c5cacf;
}

.blog__card {
  box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
  border: 1px solid #E7F4FF;
  padding: 0.75rem;
}

.coustom__table {
  border: 1px solid #E7F4FF;
}
.coustom__table th, .coustom__table td {
  padding: 0.75rem 2rem;
}
.coustom__table th {
  background: var(--brand) !important;
  color: var(--white);
}

@media (max-width: 575px) {
  .btn__search {
    width: 100%;
  }
}
/*---------- Contact page styles ---------------*/
.contact__details__wrapper .form__box {
  margin-top: -6rem;
  background: linear-gradient(#f9f9f9, white);
}
.contact__details__wrapper .form__box::before {
  content: "";
  width: 100%;
  height: 5px;
  background: linear-gradient(var(--brand), var(--blue));
  display: block;
  position: absolute;
  top: 0%;
  left: 0%;
}
.contact__details__wrapper .icon__box {
  width: 5rem;
  height: 5rem;
}
.contact__details__wrapper .icon__box svg {
  width: 2rem;
  height: 2rem;
  fill: var(--blue);
}

/*---------- Contact page styles ---------------*//*# sourceMappingURL=style.css.map */