.top__nav {
    .action__box {
        svg {
            width: 1.125rem;height: 1.125rem;
        }

        a { 
            &:not(:last-child) {
                &::after {
                    content: '';width: 1px;height: 100%;display: block;position: absolute;top: 0%;right: 0%;
                    background: linear-gradient(#ffffff19, #fff, #ffffff19);
                }
            }
            &:hover {
                background-color: #ffffff11;
            }
        }
    }
}
.navbar {    
    .navbar-brand img { max-height: 3rem; }
    .nav-item {  
        .nav-link {
            font-size: 1rem;  
            color: var(--white); 
            font-weight: 500;  
            transition: all .3s ease-in-out; 
  

            &:hover {
                color: var(--yellow);  

                .caret { transform: rotate(-180deg); }
            }  
        }
        &.active  .nav-link { 
            color: var(--yellow);  

            &.btn-primary {
                color: var(--white);
                background-color: var(--dark);
            } 
        } 
    } 
    .dropdown {  
        -webkit-appearance:none;
        .dropdown-menu {
            position: absolute;
            top: 96%;
            left: 0%;
            width: 100%; 
            min-width: 19rem; 
            transition: all .3s ease;
            transform: scaleY(0); 
            opacity: 0;
            visibility: hidden;
            box-shadow: 0 .25rem .5rem rgba($color: #000000, $alpha: 0.15);

            &.houseboat { min-width: 21rem; }
            &.india__tour {
                min-width: 12rem;
                max-width: 12rem;
            }
            &.india__tour_2 {
                min-width: 14rem;
                max-width: 14rem;
            }
             
            .dropdown-item { 
                color: var(--link-color); 
                font-size: .937rem;  
                display: block;
                padding: .5rem 1rem;
                position: relative;  
 
                &:hover, &:focus, &:active {
                    color: var(--brand); background-color: #e9ecef;
                } 

                &:last-child {
                    padding-bottom: .55rem; 
                }
                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }
            .active .dropdown-item {
                color: var(--brand);border-left: .25rem solid var(--brand);
                background-color: #e9ecef;
            }
              
            &.show {
                transform: scaleY(1);
                opacity: 1;
                visibility: visible; 
            }
        } 
        
        &:hover {
            &>.nav-link {
                color: var(--yellow);

                .caret { transform: rotate(-180deg); } 
            }
        }
    }

    

    .navbar-toggler {
        border: 1px solid transparent;
        width: 2.875rem;height: 2.875rem; 
        position: relative;background-color: var(--yellow); 
        color: #fff; 
        margin-left: 1rem; 

        span {
            width: 100%;height: 3px;border-radius: 4px;background-color: var(--white);display: block;
            transition: all .3s ease-in-out;
  
            &:nth-child(2) { margin: 7px 0;width: 70%; } 
        }
         
        &:hover {
            span {  
                &:nth-child(1) { width: 100%; }
                &:nth-child(3) { width: 100%; } 
                &:nth-child(2) { width: 100%; } 
            }
        }
        &:focus {
            box-shadow: none;
            outline: none;
        }  
    }  

    &.fixed-top {
        position: fixed;
        background-color: var(--white) !important;
        box-shadow: 0 3px 4px rgba($color: #000000, $alpha: 0.15);
        transition: all 0.3s ease-in-out; 
		animation: mymove 1s ease-in-out;
        // padding:  0; 
    }
} 
 

.sideNav { 
 
    ul.links__list {
     
        li {
            border-bottom: 1px solid #eee; 
            
            a { 
                display: flex;padding: .75rem 1rem;font-weight: 500;
                color: var(--link-color); 
                justify-content: space-between;align-self: center;
                font-size: 1rem;

                &.btn__link {
                    // width: calc(100% - 3rem);
                    &::after {
                        content: '\002B';font-family: inherit;font-size: 1.5rem;line-height: 1;
                        color: var(--link-color);
                    }
                    &:not(.collapsed) {
                        color: var(--brand);
                        &::after {
                            content: '\2212';color: var(--brand);
                        }
                    }
                }

                &.collapse__btn { 
                    border-left: 1px solid #eee;
                }

                &:hover, &:focus, &:active {
                    color: var(--brand);
                }
            }
            .collapse {
                li:first-child { border-top: 1px solid #eee; }
            }
        }
    }

    
}
 

.booking__modal {
    .modal-dialog {
        max-width: 700px;
    }
}
 
 
@media (min-width:992px) {
    .navbar .dropdown{
        .dropdown-menu {
            display: block;
        }
        &:hover {
            .dropdown-menu { 
                transform: scaleY(1);
                opacity: 1;
                visibility: visible; 
            }
        }
    }
}
 
 
 
// @media (max-width:1300px) {  
//     .navbar .nav-item .nav-link {
//         font-size: .875rem; 
//     } 
// }

@media (max-width:1200px) {  
    .navbar {   
        .nav-link {
            font-size: 14px;
        }   
    } 
} 
 
@media (max-width:576px) { 
    .navbar {   
        .navbar-brand img {
            max-height: 2.5rem;
        } 
    } 
}
 

.modal {
    .form-control {
        height: 3.5rem;border-radius: 3.5rem;padding: .5rem 2rem;
        box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
        border: 1px solid #E7F4FF;
    }
}