 .course__list__card {
    box-shadow: 0 0 2rem rgba($color: #555555, $alpha: 0.15);

    .description {
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        white-space: normal;
    }
    
    .info__list {
        svg {
            width: 1.25rem;height: 1.25rem;fill: var(--brand);
        }
    }

    .action__btns {
        .btn {
            padding-top: .65rem;padding-bottom: .65rem;
            &.first__btn {
                background-color: #EC53B0;border-color: #EC53B0;

                &:focus, &:hover, &:active {
                    filter: brightness(115%);
                }
            }
            &.second__btn {
                background-color: #5356FF;border-color: #5356FF;

                &:focus, &:hover, &:active {
                    filter: brightness(115%);
                }
            }
        }
    }
 }

.college__detail__header {
    .banner {
        height: 34rem;
    }
    .logo__box {
        bottom: 2rem;left: 2rem;width: 6rem;height: 6rem;
        box-shadow: 0.25rem .51rem 1rem 2rem #ffffff23;
    }
    .gradient__bg {
        background: linear-gradient(90deg, #000000cc, #ffffff59);
    }
}
@media(max-width:575px) {
    .college__detail__header {
        .banner {
            height: 25rem;
        } 
    }
     
}

.custom__nav {
    overflow-x: auto;flex-wrap: nowrap;padding-bottom: .5rem;
    .nav-link {
        color: #333;
        position: relative;
        white-space: nowrap;

        &.active {
            color: var(--brand);

            &::after {
                content: '';width: 100%;height: 3px;background-color: var(--brand);
                position: absolute;bottom: -.5rem;left: 0%;border-radius: 4px;
            }
        }
    }
}

.page__header {
    .info__list {
        max-width: 600px;
        svg {
            width: 1.25rem;height: 1.25rem;fill: var(--white);opacity: .75;
        }
    }
}

.provided__course__box {
    background-color: #333d47;
}
.interest__box {
    background-color: #4b67b1;
}
.btn-councelling {
    background-color: #f15930;border-color: #f15930;color:var(--white);
    
    &:hover, &:focus, &:active {
        background-color: transparent;border-color: #f15930;color: #f15930 !important;
        
    }
}
.question__box {
    background-color: #00444f;
}
.share__box {
    background-color: #056258;
}

/*---- Related videos styles -----*/
.related__videos__box {
    iframe, img { height: 9rem;width: 100%;object-fit: cover;margin: 0; }
} 
.related__albums__box {
    iframe { height: 8rem;width: 100%;object-fit: cover;margin: 0; }
    img { height: 9rem;width: 100%;object-fit: cover;margin: 0; }
} 


/*---- User profile link list styles ----*/
.user__profile__thumbnail { width: 6rem;height: 6rem; }
.profile__link__list {
    li {
        a {
            width: 90%;border-radius: 0 2rem 2rem 0;color: #747474;
            padding: .65rem 1rem;font-weight:500;

            svg {
                width: 1.25rem;height: 1.25rem;fill: #747474;
            }

        }
        &.active a {
            background-color: var(--light-bg);color: var(--brand);

            svg { fill: var(--brand); }
        }
    }
} 

.border-light {
    border-color: #e9e9e9 !important;
}

@media (max-width: 991px) {
    .profile__link__list {
        flex-wrap: nowrap;overflow-x: auto;overflow-y: hidden;padding: .5rem 1rem !important;

        li {
            display: inline-block;
            a {
                white-space: nowrap;border-radius: 3rem;
                padding: .5rem 1.5rem;width: auto;background-color: var(--light-bg);

                svg {
                    min-width: 1.25rem;
                }
            }
        }
    }
    .user__profile__thumbnail { width: 4rem;height: 4rem; }
}

.like__btn {
    font-size: 13px;
    color: #aaa;
    svg { fill: #aaa;width: 1.125rem;height: 1.125rem; }

    &:hover, &:focus, &:active {
        color: var(--brand);
        svg { fill: var(--brand); }
    }
}

.social__share__box {
    a {
        svg { width: 3rem;height: 3rem; }


        &.fb svg { fill: #3b5998; }
        &.tw svg { fill: #000000; }
        &.ld svg { fill: #007bb6; }
        &.pin svg { fill: #cb2027; }
        &.gmail svg { fill: #3490F3; }
        &.wp svg { fill: #29a628; }
    }
}

.reviews__wrapper {

    .progress{height: 0.5rem;}

    .progress, .progress-stacked {
          --bs-progress-bar-bg: #198754;
          background-color: #c5cacf;
    }
}

.blog__card{
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.0509803922);
    border: 1px solid #E7F4FF;
    padding: 0.75rem;
}

.coustom__table{

    border: 1px solid #E7F4FF;
    th, td {
        padding: .75rem 2rem;
    }
    th {
        background: var(--brand) !important;
        color: var(--white);
    }
}

@media (max-width: 575px) {
    .btn__search{width: 100%;}
}

